
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 100px;
}

.left {
  left: 0;
  background-color: #fcbdbd;
}

.right {
  right: 0;
  background-color: #ffffff;
  background-size: 20px 20px;
  background-image:  repeating-linear-gradient(0deg, #bec0f556, #bec0f556 1px, #ffffff 1px, #ffffff);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: centers;
}

.name_title {
  font-family:"Nanum Pen Script";
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-align: left;
  padding-bottom: 20px;
}

.brief_description {
  text-align: left;
  color: black;
}

.profile_image {
  width: 300px;
  height: auto;
}

.profile_image {
  border-radius: 50%;
}

ul {
  list-style-type: circle; 
  background: #ffeded;
  padding: 60px
}
